@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #FFDD31;
  }
}

body {
  color: #01D1DE;
  background-color: #7E64F6;
  background-image: url(/images/bg_grainy.png);
  background-size: cover;
  background-repeat: repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
